ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 50px;
}

a {
  font-size: 25px;
  text-decoration: none;
  margin: 15px;
  color: rgb(50, 148, 50);
}
